/* line 330, icons/*.png */
.icons-sprite, .header a.logo, .mainNavigation i.dashboard, .mainNavigation i.jobs, .mainNavigation i.transDir, .mainNavigation i.langAssets, .mainNavigation i.teams, a.twitter, a.facebook, a.linkedIn, .ribbon, .active, .noRating, .personalDetails .address i, .personalDetails .phone i, .personalDetails .fax i, .personalDetails .mail i, .personalDetails .url a i, .middleMainTopContent h2 i, .middleMainBottomContent h2 i, .review .arrows a.pre, .review .arrows a.next, .rightContentContainer .messageHeader h2 i, .rightContentContainer .messagMainContainer .days .borderSeparator {
  background: url('../images/icons-s44457d95dd.png') no-repeat;
}

/* line 3, ../sass/style.sass */
html, body, div, class, id, span, applet, object, iframe, h1, h4, h5, h6, p, blockquote, pre, a, b, i, h2, abbr, acronym, address, big, cite, code, s del, dfn, em, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* line 12, ../sass/style.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 15, ../sass/style.sass */
body {
  line-height: 1;
}

/* line 18, ../sass/style.sass */
ol, ul {
  list-style: none;
}

/* line 21, ../sass/style.sass */
blockquote, q {
  quotes: none;
}

/* line 25, ../sass/style.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../sass/style.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, ../sass/style.sass */
body {
  font-size: 12px;
  font-family: Helvetica;
}

/* line 42, ../sass/style.sass */
#wrapper {
  font-size: 12px;
  line-height: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
}

/* line 48, ../sass/style.sass */
.clr {
  clear: both;
  float: none;
}

/* line 52, ../sass/style.sass */
#headerContainer {
  box-shadow: 0 2px 5px #d7d7d7;
  margin-bottom: 30px;
  background-color: white;
}

/* line 57, ../sass/style.sass */
.header {
  width: 960px;
  margin: 0px auto;
}
/* line 60, ../sass/style.sass */
.header a.logo {
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 140px;
  height: 40px;
  float: left;
  text-indent: -5000px;
  margin: 10px 0px 10px 10px;
}

/* line 70, ../sass/style.sass */
.headerRight {
  margin: 9px 6px 0px 0px;
  float: right;
}
/* line 73, ../sass/style.sass */
.headerRight .headerTop {
  margin-bottom: 11px;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 79, ../sass/style.sass */
.headerTop li {
  float: left;
  font-size: 12px;
  border-left: 1px solid #aaaaaa;
  padding-left: 9px;
  padding-right: 8px;
  display: block;
}
/* line 86, ../sass/style.sass */
.headerTop .menuStyle {
  padding-right: 0px;
}
/* line 88, ../sass/style.sass */
.headerTop .noBorder {
  border-left: none;
}
/* line 90, ../sass/style.sass */
.headerTop li a {
  text-decoration: none;
  color: #444444;
}
/* line 93, ../sass/style.sass */
.headerTop li a:hover {
  color: #dd4422;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

/* line 106, ../sass/style.sass */
.mainNavigation {
  float: right;
}
/* line 108, ../sass/style.sass */
.mainNavigation li {
  float: left;
  margin: 0px 3px 0px 28px;
}
/* line 111, ../sass/style.sass */
.mainNavigation li a {
  font-family: Roboto;
  font-size: 13px;
  display: block;
  color: #666666;
  word-spacing: 2px;
  text-decoration: none;
}
/* line 118, ../sass/style.sass */
.mainNavigation li a:hover, .mainNavigation li a.selected {
  color: black;
}
/* line 121, ../sass/style.sass */
.mainNavigation i.dashboard {
  background-position: 0 -481px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 127, ../sass/style.sass */
.mainNavigation i.jobs {
  background-position: 0 -419px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 133, ../sass/style.sass */
.mainNavigation i.transDir {
  background-position: 0 -432px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
  color: black;
}
/* line 140, ../sass/style.sass */
.mainNavigation i.langAssets {
  background-position: 0 -524px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 146, ../sass/style.sass */
.mainNavigation i.teams {
  background-position: 0 -311px;
  margin: 0px 0px 0px 0px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}

/* line 154, ../sass/style.sass */
#content {
  width: 960px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 3px #d5d5d5;
  background-color: white;
  margin-bottom: 50px;
}

/* line 162, ../sass/style.sass */
.leftContent {
  width: 680px;
  float: left;
  box-shadow: 3px 0px 2px -1px #ebebeb;
}

/* line 167, ../sass/style.sass */
.topContent {
  background-color: #444444;
  border-top-left-radius: 5px;
  padding: 15px 20px 6px 20px;
  margin-bottom: 26px;
  color: white;
}

/* line 174, ../sass/style.sass */
.leftTopContent {
  width: 115px;
  margin-right: 27px;
  float: left;
}

/* line 179, ../sass/style.sass */
.profile {
  position: relative;
}
/* line 181, ../sass/style.sass */
.profile img {
  border-radius: 50%;
  border: 5px solid #2f2f2f;
  margin-bottom: 16px;
}

/* line 187, ../sass/style.sass */
a.twitter {
  background-position: 0 -188px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 58px;
  left: 97px;
}
/* line 196, ../sass/style.sass */
a.facebook {
  background-position: 0 -295px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 80px;
  left: 87px;
}
/* line 205, ../sass/style.sass */
a.linkedIn {
  background-position: 0 -188px;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 95px;
  left: 68px;
}

/* line 215, ../sass/style.sass */
.leftTopContent a:hover {
  opacity: 0.6;
}

/* line 218, ../sass/style.sass */
.ribbon {
  background-position: 0 -404px;
  background-repeat: no-repeat;
  width: 116px;
  height: 20px;
}

/* line 225, ../sass/style.sass */
.middleTopContent {
  float: left;
  width: 290px;
  word-wrap: break-word;
  margin-right: 5px;
}
/* line 230, ../sass/style.sass */
.middleTopContent h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  font-family: Roboto;
  margin-bottom: 7px;
}
/* line 236, ../sass/style.sass */
.middleTopContent .location {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}
/* line 241, ../sass/style.sass */
.middleTopContent h3 {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-bottom: 8px;
}
/* line 249, ../sass/style.sass */
.middleTopContent .infoList li {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
}
/* line 253, ../sass/style.sass */
.middleTopContent .infoList .titleStyle {
  color: #aaaaaa;
}
/* line 255, ../sass/style.sass */
.middleTopContent .infoList .infoStyle {
  color: white;
}

/* line 258, ../sass/style.sass */
.rightTopContent {
  max-width: 203px;
  float: right;
  word-wrap: break-word;
}

/* line 263, ../sass/style.sass */
.firstRightTopContent {
  float: right;
  margin-bottom: 11px;
}
/* line 266, ../sass/style.sass */
.firstRightTopContent li {
  float: left;
  margin: 0px 1px 0px 1px;
}

/* line 270, ../sass/style.sass */
.active {
  background-position: 0 -142px;
  width: 14px;
  height: 13px;
}

/* line 277, ../sass/style.sass */
.noRating {
  background-position: 0 -155px;
  width: 14px;
  height: 13px;
}

/* line 284, ../sass/style.sass */
.recommend {
  font-size: 14px;
  line-height: 16px;
  font-family: Helvetica;
  color: #aaaaaa;
  float: right;
  margin-bottom: 30px;
}

/* line 292, ../sass/style.sass */
.countNum {
  color: white;
}

/* line 295, ../sass/style.sass */
.bottomRightTopContent {
  float: right;
}

/* line 298, ../sass/style.sass */
.upgradeBtn {
  float: right;
  max-width: 203px;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#222222));
  background: -moz-linear-gradient(top, #525252, #222222);
  background: -o-linear-gradient(top, #525252, #222222);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 2px white;
  box-shadow: 1px 0px 5px black;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 24px;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

/* line 319, ../sass/style.sass */
.features {
  float: right;
  font-size: 12px;
  line-height: 16px;
  font-family: RobotoRegular;
  color: #aaaaaa;
  text-align: right;
}

/* line 327, ../sass/style.sass */
.money {
  color: white;
}

/* line 330, ../sass/style.sass */
.leftMainContent {
  width: 610px;
}

/* line 333, ../sass/style.sass */
.personalDetails {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 36px;
  padding-bottom: 16px;
}
/* line 337, ../sass/style.sass */
.personalDetails li {
  margin-bottom: 16px;
}
/* line 339, ../sass/style.sass */
.personalDetails .address {
  max-width: 610px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  display: block;
}
/* line 345, ../sass/style.sass */
.personalDetails .address i {
  background-position: 0 -404px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 351, ../sass/style.sass */
.personalDetails .phone {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 358, ../sass/style.sass */
.personalDetails .phone i {
  background-position: 0 -389px;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 365, ../sass/style.sass */
.personalDetails .fax {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 372, ../sass/style.sass */
.personalDetails .fax i {
  background-position: 0 -445px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 379, ../sass/style.sass */
.personalDetails .mail a {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 386, ../sass/style.sass */
.personalDetails .mail i {
  background-position: 0 -324px;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 393, ../sass/style.sass */
.personalDetails .url a {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 400, ../sass/style.sass */
.personalDetails .url a i {
  background-position: 0 -228px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 406, ../sass/style.sass */
.personalDetails .url a:hover {
  color: #dd4422;
}
/* line 408, ../sass/style.sass */
.personalDetails li a {
  text-decoration: none;
  color: #dd4422;
}
/* line 411, ../sass/style.sass */
.personalDetails li a:hover {
  color: black;
}

/* line 414, ../sass/style.sass */
.middleMainTopContent h2 {
  padding-bottom: 10px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 14px;
}
/* line 422, ../sass/style.sass */
.middleMainTopContent h2 i {
  background-position: 0 -351px;
  height: 26px;
  width: 33px;
  padding-left: 40px;
}

/* line 429, ../sass/style.sass */
.jobHistory {
  margin-bottom: 34px;
}
/* line 431, ../sass/style.sass */
.jobHistory li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

/* line 435, ../sass/style.sass */
h3 {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 443, ../sass/style.sass */
.jobHistory .company {
  display: block;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 8px;
}

/* line 451, ../sass/style.sass */
.month {
  display: block;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 13px;
  color: #aaaaaa;
  margin-bottom: 14px;
}

/* line 459, ../sass/style.sass */
.jobHistory .details {
  display: block;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
  margin-bottom: 14px;
}

/* line 467, ../sass/style.sass */
.middleMainBottomContent h2 {
  padding-bottom: 8px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 22px;
}
/* line 475, ../sass/style.sass */
.middleMainBottomContent h2 i {
  background-position: 0 -100px;
  padding-left: 48px;
  width: 40px;
  height: 30px;
}

/* line 483, ../sass/style.sass */
.educationUniversity {
  margin-bottom: 27px;
}

/* line 486, ../sass/style.sass */
.university h3 {
  margin: 0 0 6px 0;
}

/* line 490, ../sass/style.sass */
.educationUniversity .university {
  width: 265px;
  word-wrap: break-word;
  float: left;
  border-radius: 5px;
  margin: 0 20px 0 0;
  padding: 15px 15px 8px 15px;
  box-shadow: 0px 0px 1px 1px #d9d9d9;
}
/* line 498, ../sass/style.sass */
.educationUniversity .clrMargin {
  margin: 0px 0px 0px 0px;
}

/* line 502, ../sass/style.sass */
.university .certification {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 7px 0;
  display: block;
}
/* line 508, ../sass/style.sass */
.university .month {
  margin: 0 0 18px 0;
  display: block;
}

/* line 512, ../sass/style.sass */
.review {
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
/* line 516, ../sass/style.sass */
.review h2 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  color: #444444;
}
/* line 521, ../sass/style.sass */
.review .arrows {
  float: right;
}
/* line 524, ../sass/style.sass */
.review .arrows a.pre {
  float: right;
  background-position: 0 -259px;
  width: 15px;
  height: 16px;
  display: block;
  margin-right: 9px;
}
/* line 533, ../sass/style.sass */
.review .arrows a.next {
  float: right;
  background-position: 0 -243px;
  width: 15px;
  height: 16px;
  display: block;
}

/* line 542, ../sass/style.sass */
.revieweClass {
  margin-bottom: 30px;
}

/* line 546, ../sass/style.sass */
.reviewClass .reviewBox {
  width: 280px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 9px 0px 15px 9px;
  margin-right: 23px;
  margin-bottom: 23px;
  float: left;
  box-shadow: 1px 0px 2px #d9d9d9;
}
/* line 555, ../sass/style.sass */
.reviewClass .clrMargin {
  margin: 0px 0px 0px 0px;
}
/* line 557, ../sass/style.sass */
.reviewClass .reviewBox .topReview {
  padding-bottom: 8px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 7px;
}
/* line 561, ../sass/style.sass */
.reviewClass .reviewBox .topReview a {
  display: block;
  float: left;
}
/* line 564, ../sass/style.sass */
.reviewClass .reviewBox .topReview img {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  margin-right: 11px;
  width: 55px;
  height: 58px;
}
/* line 570, ../sass/style.sass */
.reviewClass .reviewBox .topReview .nameDesg {
  float: left;
}

/* line 574, ../sass/style.sass */
.reviewBox .topReview a.adam {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 18px;
  padding-top: 19px;
  display: block;
  color: #3d3d3d;
  text-decoration: none;
  float: left;
}
/* line 583, ../sass/style.sass */
.reviewBox .topReview a.adam:hover {
  color: #dd4422;
}
/* line 585, ../sass/style.sass */
.reviewBox .topReview .desg {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
  color: #b7b7b7;
}
/* line 590, ../sass/style.sass */
.reviewBox .topReview .ratingDisplay {
  float: right;
  padding-top: 17px;
}

/* line 594, ../sass/style.sass */
.ratingDisplay li {
  float: left;
  padding-left: 2px;
}

/* line 599, ../sass/style.sass */
.reviewBox .adamReview {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 3px;
  display: block;
}
/* line 606, ../sass/style.sass */
.reviewBox .reviewInfo {
  font-family: Helvetica;
  font-size: 12px;
  color: #888888;
  display: block;
}
/* line 611, ../sass/style.sass */
.reviewBox .reviewInfo a {
  text-decoration: none;
  color: #dd4422;
  font-size: 12px;
  line-height: 14px;
}
/* line 616, ../sass/style.sass */
.reviewBox .reviewInfo a:hover {
  color: black;
}

/* line 619, ../sass/style.sass */
.rightContentContainer {
  width: 280px;
  float: left;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 624, ../sass/style.sass */
.rightContentContainer .messageHeader {
  margin: 25px 30px 20px 20px;
}
/* line 626, ../sass/style.sass */
.rightContentContainer .messageHeader h2 {
  padding: 0px 0 0px 0px;
  color: #dd4422;
  float: left;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
}
/* line 633, ../sass/style.sass */
.rightContentContainer .messageHeader h2 i {
  width: 36px;
  height: 36px;
  float: left;
  display: block;
  background-position: 0 -40px;
  margin-right: 7px;
}
/* line 641, ../sass/style.sass */
.rightContentContainer .messageHeader span {
  text-transform: uppercase;
  color: #666666;
  float: right;
  margin: 9px 7px 0 0;
}
/* line 646, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessageContainer {
  float: right;
}
/* line 648, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessage {
  height: 19px;
  width: 22px;
  color: #dd4422;
  float: right;
  background: #dd4422;
  border-radius: 11px;
  color: white;
  text-align: center;
  font-family: robotobold;
  padding-top: 3px;
  margin-top: 6px;
}
/* line 661, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days {
  border-radius: 2px;
  padding: 0 0 20px 0px;
  display: block;
  font-size: 11px;
}
/* line 666, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .day {
  padding: 2px 5px 2px 5px;
  background: #e5e5e5;
  border-radius: 2px;
  margin: 0 0 15px 15px;
}
/* line 671, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .borderSeparator {
  background-position: 0 -204px;
  height: 8px;
  width: 165px;
  float: left;
  margin: 25px 0 2px 0;
}
/* line 678, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .clr {
  display: block;
}
/* line 680, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage {
  clear: both;
  margin-bottom: 31px;
}
/* line 683, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul {
  margin: 0px 30px 0px 20px;
}
/* line 684, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul .clr {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 689, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li {
  border-bottom: 1px solid #ebebeb;
  margin: 8px 0px 5px 0px;
}
/* line 692, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li a {
  display: block;
  float: left;
  padding: 0 5px 0 0;
}
/* line 696, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 0 #cccccc;
  float: left;
  margin: 0 10px 7px 0;
  display: block;
}
/* line 704, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name {
  display: block;
  font-size: 16px;
  color: #222222;
  margin: 9px 0 0 0px;
  float: left;
}
/* line 710, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name:hover {
  color: #dd4422;
}
/* line 712, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li span {
  display: block;
  color: #666666;
  margin-bottom: 6px;
  line-height: 15px;
}
/* line 717, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .time {
  display: block;
  font-size: 11px;
  color: #aaaaaa;
  margin-bottom: 8px;
}

/* line 723, ../sass/style.sass */
#footer {
  background-color: #444444;
}
/* line 725, ../sass/style.sass */
#footer .footerMenu {
  width: 450px;
}

/* line 729, ../sass/style.sass */
.footerMenu .footerMainMenu {
  margin-top: 21px;
  float: left;
  margin-bottom: 12px;
}
/* line 733, ../sass/style.sass */
.footerMenu .footerMainMenu li {
  float: left;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-right: 10px;
}
/* line 742, ../sass/style.sass */
.footerMenu .footerMainMenu li a {
  text-decoration: none;
  color: #d9d9d9;
}
/* line 745, ../sass/style.sass */
.footerMenu .footerMainMenu li a:hover {
  color: black;
}
/* line 747, ../sass/style.sass */
.footerMenu .footerMainMenu li.noPadding {
  border-left: 0px;
}
/* line 749, ../sass/style.sass */
.footerMenu .copyrights {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #888888;
  padding-bottom: 80px;
}
